<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Agroclimate</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<style>
    .bg-green {
        background-color: #28a745;
    }
    .sidebar {
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-green">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AGROCLIMATE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/agricultor/cadastrar}">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produto/listar}">Listagem</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Outros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link" th:href="@{/agricultor/cadastrar}">Cadastro de Agricultor</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div layout:fragment="conteudo" class="container"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
